<div class="card">
  <div class="card-header">
    Add Order
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveCustomer()"
          [formGroup]="orderForm">

        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="orderNumberId">OrderNumber</label>
            <div class="col-md-8">
              <input class="form-control"
                     id="orderNumberId"
                     type="text"
                     placeholder="Order Number (required)"
                     formControlName="orderNumber" />
            </div>
        </div>

      <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="orderDateId">Order Date</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="orderDateId"
                   type="text"
                   placeholder="Order Date (required)"
                   formControlName="orderDate" 
                   bsDatepicker />
          </div>
      </div>  

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="firstNameId">First Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="firstNameId"
                 type="text"
                 placeholder="First Name (required)"
                 formControlName="customerFirstName" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="lastNameId">Last Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="lastNameId"
                 type="text"
                 placeholder="Last Name (required)"
                 formControlName="customerLastName" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="customerEmailId">Email</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="customerEmailId"
                 type="email"
                 placeholder="Email (required)"
                 formControlName="customerEmail" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="customerPhoneNumberId">Phone</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="customerPhoneNumberId"
                 type="tel"
                 placeholder="PhoneNumber"
                 formControlName="customerPhoneNumber" />
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="orderForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  >
            Save
          </button>
        </div>
      </div>

      <hr>
      <hr>   

    <div formArrayName="orderItems"
      *ngFor="let item of orderForm.get('orderItems').controls; let i = index;">
      <div [formGroupName]="i">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="quantityId">Quantity</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="quantityId"
                   type="email"
                   placeholder="Quantity"
                   formControlName="quantity" />
          </div>
        </div>
        
      </div>
          <form [formGroup]="book">
              <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                      for="bookId">Book's Title</label>
                  <div class="col-md-8">
                  <input class="form-control"
                        id="bookId"
                        type="email"
                        placeholder="Book's Title"
                        formControlName="title" />
                </div>
              </div>
          </form>
      <div>
    </div>
  </div>




    </form>
  </div>
</div>